


	{{ wp_footer }}
	<script src="{{ theme.link }}/src/js/libs/jquery.min.js"></script>
	<script src="{{ theme.link }}/src/js/libs/animatescroll.min.js"></script>
	<script src="{{ theme.link }}/src/js/libs/gmap3.min.js"></script>
	<script src="{{ theme.link }}/src/js/libs/imagesloaded.pkgd.min.js"></script>
	<script src="{{ theme.link }}/src/js/libs/jquery.magnific-popup.min.js"></script>
	<script src="{{ theme.link }}/src/js/libs/jquery.modal.min.js"></script>
	<script src="{{ theme.link }}/src/js/libs/jquery.scrollspy.js"></script>
	<script src="{{ theme.link }}/src/js/libs/owl.carousel.min.js"></script>
	<script src="{{ theme.link }}/src/js/libs/wow.min.js"></script>
	<script src="{{ theme.link }}/src/js/main.js"></script>
	
</body>
</html>
